.footer
{
    color: white;
    background-color: #232f3E;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.amazonImg
{
    margin-top: 40px;
}

.amazonImgFooter
{
    width: 110px;
    height: 4vh;
}

.footerContent
{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.contentFooterTitle
{
    font-weight: 600;
}

.contentFooterSubTitlediv
{
    margin-top: 10px;
    font-size: 14px;
}
.contentFooterSubTitleCont
{
    margin-bottom: 10px;
}
